//- добавить всплывающие окно уведомлений из js,
	счет очков и вывод его на панель,



// inform msg
.msg

// user panel
section.user-panels#user-panels
	// score
	.score
		h2.text-primary.text-md Player:
			span.text-white#playerName
		h2.text-primary.text-md Your score:
			span.text-white#score

		