//- добавить всплывающие окно уведомлений из js,
	счет очков и вывод его на панель,



// user panel
section.user-panel#user-panel
	// score
	.score
		h2.bgc-p Player:
			span#playerName
		h2.c-p Your score:
			span#score
	
<a href="#" id="st">НАЧАТЬ</a>
