//
//		VARIABLES_PAGINATOR	
//



// Paginator
$paginator-item-radius:       $radius;
$paginator-item-bg:           $brand-light;
$paginator-item-color:        $text-body;
$paginator-item-border:       $color-bg-body;         // only for compact paginator
$paginator-item-active-bg:    $brand-primary;
$paginator-item-active-color: $text-body;