section.section
    h2.text-md Badges
    .row
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Sizes
            ul.badges-list
                li.badges-list-item.badge-xs
                    | small
                li.badges-list-item
                    | default
                li.badges-list-item.badge-lg
                    | large
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Colors
            ul.badges-list
                li.badges-list-item
                    | default
                li.badges-list-item.badge-primary
                    | primary
                li.badges-list-item.badge-secondary
                    | secondary
                li.badges-list-item.badge-dark
                    | dark
                li.badges-list-item.badge-success
                    | success
                li.badges-list-item.badge-warning
                    | warning
                li.badges-list-item.badge-error
                    | error
