.container
    section.section
        h2.text-md Borders
        .row
            .col-xs-12.col-md-4
                h3.text-sm.text-gray Border top + border bottom
                .container.section.border-top.border-bottom
                    br
            .col-xs-12.col-md-4
                h3.text-sm.text-gray Border right + border left
                .container.section.border-right.border-left
                    br
            .col-xs-12.col-md-4
                h3.text-sm.text-gray Bordered
                .container.section.bordered
                    br
        .container
            .row
                .col-xs-12.col-md-4
                    h3.text-sm.text-gray Bordered and circle
                    .bordered-rounded-angle
                        #left_top.corner-angle
                        #left_bottom.corner-angle
                        #right_top.corner-angle
                        #right_bottom.corner-angle
