section.section
    h2.text-md Buttons
    h2.text-sm.text-gray Button colors
    div
        button.button.block-mobile default
        button.button.button-primary.block-mobile primary
        button.button.button-outlined.block-mobile outlined
        button.button.button-secondary.block-mobile secondary
        button.button.button-disabled.block-mobile disabled
        button.button.button-white.block-mobile white
        button.button.button-green.block-mobile green
        button.button.button-red.block-mobile red
        button.button.button-transparent.block-mobile transparent
    h2.text-sm.text-gray Buttons with icon
    div
        button.button.block-mobile
            span Button
            i.fa.fa-hand-spock-o
        button.button.block-mobile
            i.fa.fa-hand-spock-o
            span Button
        span.block-mobile.text-center
            button.button.button-only-icon
                i.fa.fa-thumbs-o-up
    h2.text-sm.text-gray Buttons group
    .button-group
        button.button Button
        button.button Button
        button.button Button
    h2.text-sm.text-gray Button sizes
    div
        button.button.button-lg.block-mobile button-lg
        button.button.button-md.block-mobile button-md
        button.button.block-mobile Button default
        button.button.button-xs.block-mobile button-xs
