section.section
    h2.text-md Customizable colors
    h3.text-sm.text-gray Brand ( primary / secondary )
    .aligner-space-around
        .flex-grow.background-primary
            br
            br
        .flex-grow.background-secondary
            br
            br
    h3.text-sm.text-gray Success / info / error / warning
    .aligner-space-around
        .flex-grow.background-success
            br
            br
        .flex-grow.background-info
            br
            br
        .flex-grow.background-warning
            br
            br
        .flex-grow.background-error
            br
            br
    h3.text-sm.text-gray Rating
    .aligner-space-around
        .flex-grow.background-rating1
            br
            br
        .flex-grow.background-rating2
            br
            br
        .flex-grow.background-rating3
            br
            br
        .flex-grow.background-rating4
            br
            br
        .flex-grow.background-rating5
            br
            br
        .flex-grow.background-rating6
            br
            br
        .flex-grow.background-rating7
            br
            br
        .flex-grow.background-rating8
            br
            br
        .flex-grow.background-rating9
            br
            br
        .flex-grow.background-rating10
            br
            br
    h3.text-sm.text-gray Others
    .aligner-space-around
        .flex-grow.background-white
            br
            br
        .flex-grow.background-gray-light
            br
            br
        .flex-grow.background-gray
            br
            br
        .flex-grow.background-dark
            br
            br
