.section
    .container
        h2.text-md Full width bars
    .section.background-dark
        .container.text-center
            h3.text-lg.text-white.text-with-subtitle We can be heroes
            h4.text-md.text-gray just for one day
