section.section
	h2.text-md Loaders
	div
		a.js-show-hide-loading-bar.button.block-mobile(href='#', title='Start / stop loader') Show loading bar
		a.js-show-hide-loading-spinner.button.block-mobile(href='#', title='Start / stop loader') Show loading spinner
