.container
	section
		h2.text-md Message bars
		.message-bar.background-success
			p Success
		.message-bar.background-info
			p Info
		.message-bar.background-warning
			p Warning
		.message-bar.background-error
			p Error
