section.section
    h2.text-md Paginator
    .row
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Default
            ul.paginator-list
                li.paginator-list-item
                    a.paginator-list-link(href='#')
                        i.fa.fa-angle-left
                        |  Prev
                li.paginator-list-item
                    a.paginator-list-link(href='#') 1
                li.paginator-list-item
                    a.paginator-list-link.active(href='#') 2
                li.paginator-list-item
                    a.paginator-list-link(href='#') 3
                li.paginator-list-item
                    a.paginator-list-link(href='#')
                        | Next 
                        i.fa.fa-angle-right
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Compact
            ul.paginator-list.paginator-compact
                li.paginator-list-item
                    a.paginator-list-link(href='#')
                        i.fa.fa-angle-left
                        |  Prev
                li.paginator-list-item
                    a.paginator-list-link(href='#') 1
                li.paginator-list-item
                    a.paginator-list-link.active(href='#') 2
                li.paginator-list-item
                    a.paginator-list-link(href='#') 3
                li.paginator-list-item
                    a.paginator-list-link(href='#')
                        | Next 
                        i.fa.fa-angle-right
