section.section
    .row
        .col-xs-12.col-md-6
            h2.text-md Rating small
            .rating-circle.circle-small.rating-color-1
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 1
            .rating-circle.circle-small.rating-color-2
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 2
            .rating-circle.circle-small.rating-color-3
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 3
            .rating-circle.circle-small.rating-color-4
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 4
            .rating-circle.circle-small.rating-color-5
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 5
            .rating-circle.circle-small.rating-color-6
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 6
            .rating-circle.circle-small.rating-color-7
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 7
            .rating-circle.circle-small.rating-color-8
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 8
            .rating-circle.circle-small.rating-color-9
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 9
            .rating-circle.circle-small.rating-color-10
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 10
        .col-xs-12.col-md-6
            h2.text-md Rating big
            .rating-circle.rating-color-1
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 1
            .rating-circle.rating-color-5
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 5
            .rating-circle.rating-color-10
                .circle
                    .circle-mask.circle-full
                        .circle-fill
                    .circle-mask.half
                        .circle-fill
                .circle-inset
                    span.circle-rating-number 10
