section.section
    h2.text-md Tables
    .row
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Standard
            table.table
                thead
                    tr.text-xs.align-left
                        th Header 1
                        th Header 2
                        th Header 3
                tbody
                    tr
                        td Lemon
                        td Orange
                        td Kiwi
                    tr
                        td Sugar
                        td Salt
                        td Pepper
                    tr
                        td Fork
                        td Knife
                        td Spoon
                    tr
                        td Cup
                        td Glass
                        td Pitcher
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Responsive
            table.table.table-responsive.table-break-medium
                tr.text-xs
                    th First column
                    th Second column
                    th Third column
                tr
                    td(data-th='First column') Blue
                    td(data-th='Second column') One
                    td(data-th='Third column') My life fades
                tr
                    td(data-th='First column') Green
                    td(data-th='Second column') Two
                    td(data-th='Third column')
                        | When the world was powered by the black fuel... and the desert sprouted great cities of pipe and steel.
                tr
                    td(data-th='First column') Yellow
                    td(data-th='Second column') Three
                    td(data-th='Third column')
                        | A whirlwind of looting, a firestorm of fear. Men began to feed on men. A whirlwind of looting, a firestorm of fear. Men began to feed on men.
