section.section
  .row
    .col-xs-12.col-md-6
      h2.text-md Tabs
      .tabs
        a.tab(href='#', title='Tab 1') Tab 1
        a.tab.active(href='#', title='Tab 2') Tab 2
        a.tab(href='#', title='Tab 3') Tab 3
      //
        <div class="c-tab-content">
        Content tab 1
        </div>
        <div class="c-tab-content selected">
        Content tab 2
        </div>
