.col-xs-12.col-md-6
    h2.text-md Tags
    ul.tags
        li
            a.tag(href='#')  fantasy
        li
            a.tag(href='#')  fiction 
        li
            a.tag(href='#')  contemporary 
        li
            a.tag(href='#')  horror 
        li
            a.tag(href='#')  science-fiction 
        li
            a.tag(href='#')  thriller  
