section.section
    h2.text-md Text modifiers
    .row
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Default
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor 
                a(href='#', title='in reprehenderit') in reprehenderit
                |  in voluptate velit esse
                |                                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                |                                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //
                <p><button class="button button-only-icon button-outlined"><i class="fa fa-code"></i></button>
                <pre><code class="language-html"><p>[...]</p></code></pre></p>
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Gray
            p.text-gray
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.text-gray
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //
                <p><button class="button button-only-icon button-outlined"><i class="fa fa-code"></i></button>
                <pre><code class="language-html"><p class="text-gray">[...]</p></code></pre></p>
    .row
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Primary color
            p.text-primary
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Success color
            p.text-success
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Error color
            p.text-error
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Align center
            p.align-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-xs-12.col-md-6
            h2.text-sm.text-gray Align right
            p.align-right
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Uppercase
            p.text-uppercase
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur.
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Line through
            p.text-line-through
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur.
        .col-xs-12.col-md-4
            h2.text-sm.text-gray Italic
            p.text-italic
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                | cillum dolore eu fugiat nulla pariatur.
