section.section
    h2.text-md Typography sizes
    h3.text-sm.text-gray.text-with-subtitle text-lg
    p.text-lg.text-gray Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h3.text-sm.text-gray.text-with-subtitle text-md
    p.text-md.text-gray Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h3.text-sm.text-gray.text-with-subtitle text-sm
    p.text-sm.text-gray Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h3.text-sm.text-gray.text-with-subtitle text-xs
    p.text-xs.text-gray Lorem ipsum dolor sit amet, consectetur adipisicing elit
