<div class="time-msg" id='time-msg' >Осталось: <span id="timer_inp">10</span> сек.</div>

section.cards-field#cards-field
	.card#card-1
	.card#card-2
	.card#card-3
	.card#card-4
	.card#card-5
	.card#card-6
	.card#card-7
	.card#card-8
	.card#card-9
	.card#card-10
	.card#card-11
	.card#card-12
	.card#card-13
	.card#card-14
	.card#card-15
	.card#card-16








