.container
  section.section
    h2.text-md Citates
    .row
      .col-xs-12.col-md-4
        #citate.text-center
          #left_top.corner
          #left_bottom.corner
          #right_top.corner
          #right_bottom.corner
          span Tittle citate
          blockquote
            p.text-sm.text-italic “Success consists of going from failure to failure without loss of enthusiasm.” 
        .col-xs-12.col-md-4
          blockquote.text-center.grade-citate.text-sm
            | News is what somebody somewhere wants to suppress; all the rest is 
            p.grade.text-lg advertising!
            cite.text-gray.grade-citate.text-xs author
