.row
    .col-xs-12.col-md-6
        h2.text-md Rating small
        .rating-circle.circle-small.rating-color-1
            .circle
                .circle-mask.circle-full
                    .circle-fill
                .circle-mask.half
                    .circle-fill
            .circle-inset
                span.circle-rating-number 1
