
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #2e4865;
  font-weight: normal;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

p {
  font-weight: normal;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 600;
}


pre {
  margin-bottom: 2em !important;
}


