//- тип рубашки карт
h3 Select the shirt of card
.card-shirt
	button#shirt-type-1.shirt-type-1
	button#shirt-type-2.shirt-type-2
	button#shirt-type-3.shirt-type-3

.btn-start-wrap
	button#startGame Start the game




