//- меню игры
#app-menu
	nav
		// add clases
		input( id="startGame" type="button", value="Start" class="button button-sm" placeholder="Start the game")
		input(id="outGame"  type="button", value="Exit" class="button button-sm" placeholder="Out the game")
		input( id="aboutGame" type="button", value="About the game" class="button button-sm" placeholder="Rules the game")


