//
// 			Badges
//
$badge-color:           $text-body;
$badge-bg:              $brand-light;
$badges-color-map: (
  primary:              $brand-primary,
  secondary:            $brand-secondary,
  dark:                 $brand-dark,
  light:                $gray,
  success:              $color-success,
  error:                $color-error,
  warning:              $color-warning 



  
);