//
//		VARIABLES_DIV-CONTAINERS	
//


$gutterwidth:               24px;
$container-maxwidth:        1380px;
$container-medium-maxwidth: 944px;
$container-small-maxwidth:  400px;
$radius:                    3px;
$border-box:                true;


