//
//		VARIABLES_TYPOGRAPHY	
//



$basefont: 'Lato', sans-serif;
$codefont: 'Courier New', monospace;

$font-size-base:        14px;
$font-size-base-medium: 15px;
$font-size-base-large:  15px;

$line-height-base:      1.5em;
$font-weight-base:      400;

$heading-font:          $basefont;
$heading-weight:        300;
$heading-case:          none;

